/* **********************************
            BASE
********************************** */
html {
  font-family: "skia", sans-serif;
  font-size: 87.5%; }

body {
  margin: 0; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px; }
  .grid > article {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .grid img {
    height: 250px; }

h1,
h3 {
  font-family: "skia", "skia", sans-serif;
  font-weight: normal; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a:link, a:visited {
  text-decoration: none;
  color: blue;
  transition: 0.3s; }
a:hover, a:focus {
  color: blue, 20%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

/* **********************************
            HEADER
********************************** */
.header {
  background: url("../images/bg_header.jpg") center bottom;
  background-size: cover;
  min-height: 50vh;
  box-shadow: 0 50px 100px -50px #707070; }

.burger {
  font-size: 0;
  position: absolute;
  top: 15px;
  right: 15px; }
  .burger .fa {
    font-size: 3rem;
    color: #CBBBA0; }

.header-reseau {
  display: none; }

.title {
  font-size: 0; }

.formulaire {
  display: flex;
  margin-top: 30px;
  background-color: rgba(234, 229, 229, 0.5); }
  .formulaire input[type="text"] {
    border: 0;
    background: none;
    color: #CBBBA0;
    padding: 1rem 1.5rem;
    transition: background 0.3s; }
    .formulaire input[type="text"]:focus {
      background: rgba(234, 229, 229, 0.5);
      outline-color: #707070; }
    .formulaire input[type="text"]::placeholder {
      color: #CBBBA0; }
  .formulaire button {
    border: 0;
    background: none;
    font-size: 0;
    color: #CBBBA0;
    cursor: pointer;
    padding: 0 1rem; }
    .formulaire button .fa {
      font-size: 1.5rem;
      transition: 0.3s; }
    .formulaire button:hover .fa {
      transform: translateX(-4px); }

/* **********************************
            MAIN
********************************** */
.h1 {
  font-size: 0; }

.owl-carousel {
  padding: 80px 40px 60px; }
  .owl-carousel h2 {
    font-size: 2rem;
    margin: 2rem 0 0; }
  .owl-carousel h3 {
    margin: 0 0 0.5rem;
    color: #707070;
    text-transform: uppercase; }
    .owl-carousel h3::before {
      content: '';
      display: inline-block;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: #707070;
      margin-right: 0.75rem; }
  .owl-carousel p {
    margin-top: 0; }

.owl-nav button {
  position: absolute;
  top: 15px; }
  .owl-nav button::before {
    content: '\f359';
    font-family: "Font Awesome 5 Free";
    font-size: 3rem;
    color: #fff; }
  .owl-nav button.owl-prev {
    left: 15px;
    font-size: 0; }
  .owl-nav button.owl-next {
    right: 15px;
    font-size: 0; }
    .owl-nav button.owl-next::before {
      content: '\f35a'; }

/* **********************************
            FOOTER
********************************** */
footer {
  background-color: #707070;
  color: #fff;
  padding: 30px; }
  footer .footer-col {
    padding: 30px; }
    footer .footer-col:nth-of-type(2) {
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070; }
    footer .footer-col h3 {
      color: #EAE5E5; }
      footer .footer-col h3::before {
        content: '';
        display: inline-block;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 1.25rem; }
    footer .footer-col p {
      font-size: 0.875rem; }
    footer .footer-col ul {
      padding: 0 1rem;
      font-size: 0.875rem; }
      footer .footer-col ul li {
        margin-bottom: 1rem; }

.social-nav {
  margin: 30px 0; }
  .social-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .social-nav ul li {
      margin: 15px; }
      .social-nav ul li a {
        color: #fff;
        font-size: 0;
        transition: 0.3s; }
        .social-nav ul li a:hover {
          color: #CBBBA0, 20%; }
        .social-nav ul li a .fab {
          font-size: 3rem; }

@media only screen and (min-width: 768px) {
  .services .services-inner {
    display: flex; }
    .services .services-inner .service {
      flex-basis: 33.33%;
      display: flex;
      flex-direction: column; }
      .services .services-inner .service .more {
        margin-top: auto;
        margin-left: auto; }

  .owl-carousel .item {
    flex-direction: row; }
    .owl-carousel .item .item-infos {
      flex-basis: 33.33%; }
      .owl-carousel .item .item-infos h2 {
        margin-top: 0; }
    .owl-carousel .item .item-img {
      flex-basis: 66.66%;
      padding-left: 30px; }

  footer .footer-inner {
    display: flex; }
    footer .footer-inner .footer-col {
      flex-basis: 33.33%;
      padding: 30px; }
      footer .footer-inner .footer-col:nth-of-type(2) {
        border: 0;
        border-left: 1px solid #707070;
        border-right: 1px solid #707070; } }
@media only screen and (min-width: 992px) {
  .page-header-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    min-height: 50vh; }

  .burger {
    display: none; }

  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

  .main-nav {
    display: block;
    background-color: red; }
    .main-nav ul {
      display: flex; }
    .main-nav a {
      display: block;
      color: #fff;
      padding: 1rem;
      margin: 0 1rem; }
      .main-nav a:hover, .main-nav a:focus {
        color: #ff6666; }

  .search-form {
    margin-top: auto; }

  .owl-carousel {
    padding: 80px 60px; }
    .owl-carousel .btn {
      margin-top: auto; }
    .owl-carousel .owl-nav button {
      top: calc(50% - 1.5rem); } }

