// layout
$max-width:  1200px;
$bp-tablet:  768px;
$bp-desktop: 992px;
$marge:      15px;

// Typos
$font-default:   'skia', sans-serif;
$font-title:     'skia', $font-default;
$font-size-base: 87.5%; // base 14

// Colors
$brown:        #CBBBA0;
$green:        #6BAA60;
$light-green:  #B8EDBC;
$gray:         #707070;
$light-gray:   #EAE5E5;
$white:        #EBEAEA;



